/node_modules/*

/exports/LeftA/*
/exports/LeftB/*
/exports/RightA/*
/exports/RightB/*
/exports/merge/*
/exports/merge_big/*
/exports/sols.json
/exports/sols_big.json
/exports/video.mp4
/exports/video_big.mp4
/exports/video.ogg
/exports/video.webm
/exports/video_big.ogg
/exports/video_big.webm
/config/config.js


*~
*.lock
*.DS_Store
*.swp
*.out
._*
