@import "elements.less";

@import "vars.less";

* {
    margin:0;
    padding:0;
    font-family: arial, sans-serif;
    outline: none !important;
}

body{
    font-size: 14px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    color: @black;
    overflow:hidden;
}

.clr {
    clear:both;
}

a {
    color:black;
}

#divVideo {
    float:left;
    margin:0 20px 0 0;
}

#currentSol {
    float:left;
    margin-top:30px;
    width:220px;
    #sol {
        font-size:120px;
    }
    #source{
        margin-top:5px;
        font-size:12px;
    }
}
