#global {
    width:100%;
}

#main {
    width: 80%;
    margin:0 auto;
}

#divVideo {
    float:left;
    margin:0 60px 0 0;
}

#currentSol {
    float:left;
    #label{
        float:left;
    }
    #sol {
        margin-top:50px;
        font-size:100px;
    }
}

#share {
    margin:20px 0 20px 0;

    .twitter-share-button {
        float:left;
    }
}

textarea{
    width:250px;;
    height:70px;
    background:none;
    border:1px solid @gray;
    font-size:0.8em;
}
