body {
    width: 100%;
}

hr {
    width:300px;
    margin:30px auto;
}

#global {
    width: 1060px;
    margin:0 auto;
}

#main {
    width: 1024px;
    margin:0 auto;
}

header {
    h1 {
        float:left;
        font-size:3em;
    }
    h2 {
        float:left;
        margin:35px 0 0 20px;
        font-size:1.3em;
    }
    clear:both;
}

#divVideoBig {
    width:1024px;
    margin:0 auto;
}

#divVideo {
    float:left;
    margin:0 60px 0 0;
}

#currentSol {
    float:left;
    #sol {
        margin-top:50px;
        font-size:100px;
    }
}

#share {
    margin:20px 0 20px 0;

    .twitter-share-button {
        float:left;
    }
}

#centerVideo {
    width:512px;
    margin:0 auto;
}

#previewEmbed {
    cursor:pointer;
    color:@orange;
}
#imgPreview {
    display:none;
    position:absolute;
}

textarea{
    width:620px;;
    height:20px;
    background:none;
    border:1px solid @gray;
    font-size:0.8em;
    resize:none;
}
